#name{
	color:#ffffff;
	background-color: #4aaaa5;
	float: left;
	left: 0px;
	padding: 20px;
	font-size: 20;
	margin-left: 10%;
}

#bannerLinks{
	float: right;
	right: 0px;
	color: #777777;
	margin: 0 auto;
	padding: 20px;
	margin-right: 10%;
}

a{
	color: #777777;
	text-decoration: none;
	padding-right: 10px;
}

#line1{
	clear: both;
	margin: 0 auto;
	position: relative;
	top: 20px;
	top: -2px;
	
}

header{
	width: 100%;
}

h2{
	top: 20px;
	position: relative;
	color: #4aaaa5;
}